<!-- footer -->
<div class="footer">
  <h1>Contact me.</h1>
  <a href="mailto:ak705945@gmail.com?subject=feedback"><i style="font-size: 3em;" class="fas fa-envelope"></i></a>
  <a href="https://github.com/Ak705945"><i style="font-size: 3em;" class="fab fa-github"></i></a>
  <a href="https://www.linkedin.com/in/armaan-khan-a6511b1ab/"><i style="font-size: 3em;" class="fab fa-linkedin-in"></i></a>


  <p style="font-size:1rem;">This website is made using Node.JS <br>© Copyright Armaan Khan <%= new Date().getFullYear(); %></p>

</div>
