<%- include('partials/header') -%>

<body>
  <link rel="stylesheet" href="/styles/certificationStyles.css">
  <h1 class="heading">Certifications.</h1>
  <div class="certificate">
    <div class="row">
      <div class="col-lg-6 col-md-12">
        <div class="card">
          <h1>Machine Learning</h1>
          <p>Machine Learning Algorthms | Optimization Techniques</p>
          <h4>I started learning about machine learning from this course .it took me 2 months to complete this course. and during this course, I learned about different machine learning algorithms like Regression to SVM and so on. I also learned
            about different optimization techniques. i Also learned about the Basic idea of deep learning and different application of deep learning like object detection.</h4>
          <a href="https://www.coursera.org/account/accomplishments/verify/GJLT5XSUTB8A"><button type="button" name="button">Verify the Certificate</button></a>
        </div>
      </div>
      <div class="col-lg-6 col-md-12">
        <div class="card">
          <h1>Web Development</h1>
          <p>Front End Development | Backend Development | DataBases</p>
          <h4>I started my journey of learning Web Development from this course .while doing this course I learned about frontend Languages and tools like HTML, CSS, BootStrap, JavaScript,React.js to backend tools and libraries like Node.JS and
            Express,React.js, API's and also about git and git version control and I also learned about different databases like MongoDB, mongoose, etc.</h4>
          <a href="https://www.udemy.com/certificate/UC-def568e5-fe9d-401e-a795-8972e4f58ef3/"><button type="button" name="button">Verify the Certificate</button></a>
        </div>
      </div>
      <div class="col-lg-6 col-md-12">
        <div class="card">
          <h1>Deep Learning</h1>
          <p>Deep Learning | Computer Vision | NLP | Optimization Techniques</p>
          <h4>It is a set of courses and it consists of 5 different courses. in these courses, I learned about neural networks and deep learning. Hyperparameter tuning, regularization, and optimization of ML models to improve their performance. i
            also learned about structuring Ml projects to get better out of our time while developing a project. i also learned about different computer vision algorithms like Convolutional neural network and different Natural language processing
            algorithms like RNN and LSTM.</h4>
          <a href="https://www.coursera.org/account/accomplishments/specialization/NVXMYR7RM6R9"><button type="button" name="button">Verify the Certificate</button></a>
        </div>
      </div>
      <div class="col-lg-6 col-md-12">
        <div class="card">
          <h1>MTA for Python</h1>
          <p>Pyhton</p>
          <h4>It is Microsoft Technology Associate certification for python programming .this certification tested my knowledge about the concept of python related operator, control statement exception handling, error control, file handling, and
            other concepts </h4>
          <a href="https://www.youracclaim.com/badges/72780539-700b-4383-b662-e6aa80015d1c/linked_in_profiles"><button type="button" name="button">Verify the Certificate</button></a>
        </div>
      </div>

      <div class="col">
        <div class="card">
          <h1>DeepLearning.AI Tensorflow Developer</h1>
          <p>HTML | CSS | BootStrap | JavaScript</p>
          <h4>It is a TensorFlow development certificate provided by DeepLearnig.AI on Coursera it consists of four courses I learned about how to implement different DeeplEarnign algorithms using TensorFlow and Keras. I also learned how to perform
            computer vision tasks in Tensorflow and also natural language processing and Time Series forecasting.</h4>
          <a href="https://www.coursera.org/account/accomplishments/professional-cert/YRBN5B8PEY99"><button type="button" name="button">Verify the Certificate</button></a>
        </div>
      </div>
    </div>
  </div>
</body>

<%- include('partials/footer') -%>
