<%- include('partials/header'); -%>

<body>
  <link rel="stylesheet" href="styles/homeStyles.css">
  <!-- Title -->
  <div class="heading">
    <div class="container">
      <div class="row">
        <div class="col-lg-5" id="hi">
          <h1>Hi!</h1>
        </div>
        <div class="col-lg-6" id="other">
          <h2>I Am Armaan Khan</h2>
          <h2>A Computer Science Student</h2>
        </div>
      </div>
    </div>
  </div>

  <!-- About me -->
  <div class="aboutMe">
    <h1>About Myself.</h1>
    <p>I am a Computer Science UnderGrad Student. I have an interest in web development, machine learning, and Programming in general. I am currently learning and practicing web development. I have done several web development projects with the front
      end as well as backend which are all mentioned on the Projects page of this website. I have also completed some projects regarding ML / DL and Android app development. Well, that's all to describe me I would like to hear from you.
      for that my contact details are given below.</p>

  </div>



  <!-- skills -->
  <div class="skills">
    <h1>Skills</h1>
    <section class="colored" id="testimonials">
      <div id="carouselExampleSlidesOnly" class="carousel slide " data-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <div class="card">
              <h1>Web Development</h1>
              <p>I have started learning and practicing web development a few months ago from the internet, since then I have learned a lot of things regarding web development from frontend development tools and libraries like HTML CSS Bootstrap
                JavaScript to backend tools and libraries like Node.JS MongoDB and React, and so on. i have also built multiple projects with the help of these which are all mentioned on the projects page of this website.
              </p>
            </div>
          </div>
          <div class="carousel-item">
            <div class="card">
              <h1>ML / DL</h1>
              <p>I started learning about machine learning a year ago due to my curiosity and reading about machine learning. and for that, I took multiple courses regarding ML and DL from Coursera in that process I learned about different machine
                learning algorithms, Deep learning, different techniques, and frameworks like TensorFlow for deep learning and Computer vision . and I also built a Mini project regarding that domain and I also wrote a paper on that topic.
              </p>
            </div>
          </div>
          <div class="carousel-item">
            <div class="card">
              <h1>Android development</h1>
              <p>I started learning Android development as I wanted to know how do people make these apps so I started learning and as this was a required topic for my college that was a plus. while I was learning I got the know-how to make different
                kinds of apps, how to integrate cloud storage into the apps, and so on. I also built an app for our college project which allows teachers to upload study notes on cloud storage so that any student can view and access those notes.
              </p>
            </div>
          </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleSlidesOnly" role="button" data-slide="prev">
          <span style="font-size: 2em; color: #112d4e;"><i class="fas fa-chevron-circle-left"></i></i></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleSlidesOnly" role="button" data-slide="next">
          <span style="font-size: 2em; color:  #112d4e;"><i class="fas fa-chevron-circle-right"></i></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
    </section>
  </div>

  <%- include('partials/footer'); -%>

</body>
