<%- include('partials/header') -%>

<body>
  <link rel="stylesheet" href="/styles/projectStyles.css">
  <h1 class="heading">Projects</h1>
  <div class="projects">
    <div class="row">
      <div class="col-12">
        <div class="card left-card">
          <h1>Drum Kit</h1>
          <p>HTML | CSS | BootStrap | JavaScript</p>
          <h4>This project was made with the help of BootStrap HTML and CSS for the frontend part and the logic of this website JavaScript and jquery were used. it lets the user play the drum kit on their browser by tapping the images or using the
            keys of the keyboard.it used javascript packages to play respective sound.
          </h4>
          <a href="https://ak705945.github.io/DrumKit/"><button type="button" name="button">Check out this Project</button></a>

        </div>
      </div>
      <div class="col-12 ">
        <div class="card right-card">
          <h1>Simon Says Game</h1>
          <p>HTML | CSS | BootStrap | JavaScript | JQuery</p>
          <h4>This project lets the user play Simon says game in which the user has to remember the color pattern displayed on the screen and remember the pattern and then enter the pattern in the correct sequence. it was made using HTML CSS and
            Javascript .it was built to mainly check my understanding of javascript language.
          </h4>
          <a href="https://ak705945.github.io/SimonSays/"><button type="button" name="button">Check out this Project</button></a>
        </div>
      </div>
      <div class="col-12 ">
        <div class="card left-card">
          <h1>TinDog</h1>
          <p>HTML | CSS | BootStrap</p>
          <h4>This is a Clone like the website of tinder and it was made using Bootstrap and its different components like carousal navbar and cards. the main goal was to learn about making beautiful designs using CSS and bootstrap which looks
            good.it is a pretty simple website that is made to look good.</h4>
          <a href="https://ak705945.github.io/TinDog/"><button type="button" name="button">Check out this Project</button></a>
        </div>
      </div>
      <div class="col-12">
        <div class="card right-card">
          <h1>Diabetic Ratinopathy Detection</h1>
          <p>Machine Learning | Deep Learning | Computer Vision | TensorFlow </p>
          <h4>Diabetic retinopathy is a disease in which a person with diabetes may lose
            his vision .A deep neural network based project made by using tensorflow,
            python, convolutional neural networks which can detect the severity level
            of Diabetic Retinopathy with images of the retina of the person with 79.4% accuracy.</h4>
          <a href="https://github.com/Ak705945/DR-detection-using-DCNN"><button type="button" name="button">Check out this Project</button></a>
        </div>
      </div>
      <div class="col-12">
        <div class="card left-card">
          <h1>TODO List</h1>
          <p>HTML | CSS | BootStrap | NodeJs | Ejs | MongoDB</p>
          <h4>it is a to-do list website that lets a user add and remove items to a list that are stored in a remote MongoDB database for the frontend we used HTML and CSS and for the backend we have used Node.Js which uses ExpressJS to serve client
            request. and for storing the data I used the mongoose package.</h4>

        </div>
      </div>
      <div class="col-12">
        <div class="card right-card">
          <h1>Blog Website</h1>
          <p>HTML | CSS | BootStrap | NodeJs | MongoDB</p>
          <h4>A blog website that lets the user write a blog and upload the blog which is stored in a MongoDB database the frontend was made using Ejs which let's reuse the same layout and use javascript code inside HTML for serving the request
            simple Node.Js was used .</h4>

        </div>
      </div>

      <div class="col-12">
        <div class="card left-card">
          <h1>Student Notes App</h1>
          <p>Android App Development | Google FireBase</p>
          <h4>This Android app lets teachers upload pdf notes according to divisions and students can then access those notes on their phone. so uploaded notes are stored in google's cloud storage google firebase. this app has two login types
            teachers'
            login which can be accessed by only teachers and they can only upload the notes to their respective divisions.
            it uses java for the logic part and XML for the frontend part.</h4>

        </div>
      </div>
    </div>
  </div>

  <%- include('partials/footer') -%>
</body>
